
<div ng-app="controlApp" ng-controller="FirstController" >

<span>Name: </span>
<input type="text" ng-model="first">
<input type="text" ng-model="last">
<button ng-click='updateMessage()'>Message</button>
<hr>
{{heading + message}}

</div>
