
<div ng-app="app">

   <data-first-directive></data-first-directive>

   <data-use-controller ng-controller="the-controller"></data-use-controller>

      <data-add-scope></data-add-scope>
   
</div>
