
<div class="wrap-demo-index">

    <h1>Angular Demo - <%= name || 'untitled' %></h1>


    <%- include('../demos/'+name + '/index.ejs') %>

</div>

<div class="wrap-demo-readme">

    <%- readme  %>

</div>

<!-- get angular-->
<!--<script src="/lib/angular/angular.js"></script>-->
<script src="/js/angular/1.1.5/angular.js"></script>
<%- include('../demos/'+name + '/jsfiles.ejs') %>