
<div class="wrap-demo-index">

    <h1>Angular Demo - <%= eData.name || 'untitled' %></h1>


    <%- include('../demos/'+eData.name + '/index.ejs',eData ) %>

</div>

<div class="wrap-demo-readme">

    <%- eData.readme  %>

</div>

<!-- get angular-->
<script src="/lib/angular/angular.js"></script>
<%- include('../demos/'+eData.name + '/jsfiles.ejs',eData ) %>