<ul ng-app="enemyMod" ng-controller="EnemyList">
    <li ng-repeat="e in enemys">
        <h3>Desc: {{e.desc}}</h3>
        <p>Attack: {{e.attack}}</p>
        <p>Defence: {{e.defence}}</p>
    </li>
</ul>
