<!doctype html>
<html>
    <head>
        <title><%= title || 'untitled' %></title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel="stylesheet" href="/css/main.css">


    </head>
    <body>

       <%- include('part/header',{additional:'yes'}) %>

       <%- include('layouts/' + layout) %>

    </body>
</html>
