<!doctype html>
<html>
    <head>
        <title><%= title || 'untitled' %></title>
        <meta charset="UTF-8">
        <style>

.container{

    width: 100%;
    text-align:center;
}
        </style>
    </head>
    <body>

       <%- include('layouts/' + eData.layout,eData) %>

    </body>
</html>
