<!doctype html>
<html>
    <head>
        <title><%= title || 'untitled' %></title>
        <meta charset="UTF-8">
        <style>

.container{

    width: 100%;
    text-align:center;
}
.list{

    margin-top:50px;
    border: 3px solid #000000;
    padding:20px;

}
a:link{color:#af0000;}
a:visited{color:#880000;}
a:hover{color:#ff0000;}
        </style>
    </head>
    <body>

       <%- include('layouts/' + eData.layout,eData) %>

    </body>
</html>
