
<p>This is my first angular demo, for my <a href="https://github.com/dustinpfister/test_angular">test_angular</a> project on github</p>

<div ng-app="HelloWorldApp">
    <div ng-controller="HelloWorldController">
        <h1>{{greeting}}</h1>
    </div>
</div>