
<div ng-app="app" ng-controller="fact-control" >
 
    <p>start time {{state.start}}</p>
    <p>time {{state.time}}</p>
    <p>count every {{state.ms}} ms</p>
    <p>count: {{state.count}}</p>
 
</div>
