
<div ng-app="app">
 
   <x-chart 
       type="line"
       width="320"
       labels="week1;week2;week3;week4"
       colors="red;blue"
       datasets="impressions[1024;700;650;1200 clicks[35;29;14;45"></x-chart>

</div>
