
<div ng-app="app">
 
    <x-taction
 
        ng-controller = "ta-control"
        time = "5000"
        onclick = "fromHtml"
 
    ></x-taction>
 
 <script>
 
 var fromHtml = function(){
	 
	 console.log('yes this is frog.')
	 
 }
 
 </script>
 
</div>
