
<div ng-app="app">

    <x-taction
        time = "100"
        onprogress = "fromHtml"
    ></x-taction>

    <x-taction
        time = "100"
    ></x-taction>
 
    <x-taction
        time = "3000"
    ></x-taction>
 
 <script>
 
 var fromHtml = function(p){
    console.log('yes this is frog.' + p)
 }
 
 </script>
 
</div>
