
<div ng-app="app"  >
 
    <div ng-controller="disp">

        <h3>money: {{money}}</h3>

    </div>

    <div ng-controller="work" style="border:1px solid #000000;padding:20px;">

        <h3>Work:</h3>

        <p> You have a job in which the rate at which the requirements of advancement grows exponentially (and incrementally), but the pay rate gos up incrementally. To put it simply your job sucks. Never the less it is a way to make some money manually, rejoice!</p>

        <ul>
            <li>Level: {{level}}</li>
            <li>money: {{money}}</li>
            <li>exp: {{workCount}} ( next level {{nextLevel}} ) </li>
            <li>rate: {{workRate}}</li>
            <li>working time: {{workingTime}} &#47 {{workCompleteTime}} </li>
        </ul>

        <button ng-click="doWork()">Work</button>
    </div>

    <div ng-controller="posts" style="border:1px solid #000000;padding:20px;margin-top:20px;">

        <h3>Posts:</h3>

        <p> You have a single website in which now and then you write a blog post about a topic of interest to a lot of people. Maybe there is a way to make some money with it.</p>

        <button ng-click="writePost()">Write Post</button>

        <ul>
            <li>level: {{level}}</li>
            <li>money: {{money}}</li>
            <li># of posts: {{posts}}</li>
            <li>time: {{tickTime}}</li>
        </ul>

        <ul ng-repeat="tier in tiers">

            <li> Post Tier: {{tier.postTier}} </li>
            <li> count: {{tier.count}} </li>
            <li> rate: {{tier.rate}} </li>

        </ul>

    </div>
 
</div>
