
<div ng-app="app"  >
 
    <div ng-controller="disp">
        <p>money: {{money}}</p>
    </div>

    <div ng-controller="two">
        <p>money: {{money}}</p>
        <button ng-click="getMoney()">get money</button>
    </div>
 
</div>
