<div ng-app="app" ng-controller="fact-control" >
 
    <h1>Fixer data rates.</h1>
    <p>Date of data: {{time}}</p>
 
    <ul>
 
        <li ng-repeat="r in rates">{{r.key}} : {{r.rate}}</li>
 
    </ul>
 
</div>
