<div id="one" ng-app="one">
    <div ng-controller="control">
        <h1>{{mess}}</h1>
    </div>
</div>

<div id="two" ng-app="two">
    <div ng-controller="control">
        <h1>{{mess}}</h1>
    </div>
</div>