<div ng-app="httpPostMod" ng-controller="httpPostDemo">

    <ul ng-repeat="m in messages">
        <h3>date: {{m.date}}</h3>
        <p>mess: {{m.mess}}</p>
    </ul>

    <input type="text" ng-model="inputMess">
    <button ng-click='send()'>Send</button>

</div>
