
<div ng-app="app"  >
 
    <div ng-controller="disp">
        <p>money: {{money}}</p>
    </div>

    <div ng-controller="work">

        <p>workRate: {{workRate}}</p>
        <p>workCount: {{workCount}}</p>
        <button ng-click="doWork()">Work</button>
    </div>
 
</div>
