
<div ng-app="app"  >
 
    <div ng-controller="disp">
        <h3>money: {{money}}</h3>
        <p>working time: {{workingTime}} &#47 {{workCompleteTime}}</p>
    </div>

    <div ng-controller="work">

        <button ng-click="doWork()">Work</button>
    </div>
 
</div>
