
<div ng-app="app"  >
 
    <div ng-controller="disp">
        <p>money: {{money}}</p>
		<p>working time: {{workingTime}}</p>
    </div>

    <div ng-controller="work">

        <button ng-click="doWork()">Work</button>
    </div>
 
</div>
